.header-container {
    // background-color: #0396FF;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    gap: .625rem;
    padding: 10px 30px;
    width: 100%;
}